body #box-container {
  margin: 5em auto; }
  body #box-container .squares {
    width: 14em;
    height: 10em;
    background-color: black;
    color: white;
    margin: 0 2em;
    line-height: 10em; }
