body #box-container {
  margin: 5em auto; }
  body #box-container .squares {
    width: 15em;
    height: 10em;
    background-color: black;
    margin: 0 1em;
    padding: 0 0; }
    body #box-container .squares .content {
      line-height: 10em;
      color: white;
      background-color: blue;
      overflow: auto;
      display: block; }
    body #box-container .squares .hide {
      visibility: hidden; }
